{% extends 'base.html' %}
{% block title %}
{{ group }}
{% endblock title %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      {% for post in page_obj %}
        {% if forloop.first %}
          <h1>{{ group.title }}</h1>
          <p>{{ post.group.description|linebreaksbr }}</p>
        {% endif %}
        <article>
          <ul>
            <li>Автор: {{ post.author.get_full_name }} 
              <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
            </li>
            <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
          </ul>
          <p>{{ post.text|linebreaksbr }}</p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </main>
{% endblock content %}
